<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyHub - The best Study-Tracker</title>
    <link rel="stylesheet" href="landing.css">
</head>

<body class='overflow-x-hidden'>
    <div class="container mx-auto">
        <header>
            <nav class="flex justify-between">
                <div class="logo font-bold flex items-center text-blue">StudyHub</div>
                <ul class="navbar flex items-center">
                    <li><button class="btn">Home</button></li>
                    <li><button class="btn">About</button></li>
                    <li><button class="btn">Contact Us</button></li>
                    <li><a href="/login"><button class="btn">Login</button></a></li>
                </ul>
            </nav>
            <hr>
        </header>
        <main class="min-h-screen">
            <section class="section1">
                <div class="flex">
                    <div class="topleft flex flex-col justify-center px-2">
                        <div class=" text-center">
                            <img class="dumbellimg" src="studytrack.jpeg" alt="Study-Tracker">
                        </div>
                        <h1 class="my-1 text-center">A Study tracking app to keep you going</h1>
                        <p class=" text-center">Education is the key to success. Many students who are cable of scoring well in their exams but are often distracted by their environment. 
                            StudyHub is a web application designed to assist students in tracking their study activities.
                            The app aims to create a competitive yet collaborative learning environment.</p>
                            <div class="buttons">
                                <a href="/login"><button class="btn">Try Now</button></a>
                                <button class="btn">About</button>
                            </div>
                    </div>
                    <div class="topright flex justify-center">
                        <img class="gymimg" src="studytrack2.jpeg" alt="Study-Tracker">
                    </div>
                </div>
            </section>
            <hr>
            <section class="section2">
                <h1 class="text-center my-2">Features</h1>
                <div class="boxes flex justify-center">
                    <div class="box">
                        <h2>Study-Tracker</h2>
                        <p>The Study-Tracker allows you to track your study pattern and adapt to your timings.</p>
                    </div>
                    <div class="box">
                        <h2>Leaderboard</h2>
                        <p>The Leaderboard is where you will be able to compare yourself with your fellow trackers to know where you stand in your surroundings.</p>
                    </div>

                </div>
            </section>
            <hr>
        </main>
        <footer>
            Copyright &copy; StudyHub.com | All rights reserved
        </footer>

    </div>
</body>

</html>